*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(30, 30, 70);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

